<div class="sidebar">
  <a class="brand" href="/">
    <ion-icon name="happy-outline"></ion-icon>
    <p class="text logo">ekspresi</p>
  </a>
  <div class="navbar">
    <div class="nav">
      <ul>
        <li>
          <a hx-target="#body-wrapper" hx-get="/"
            ><ion-icon name="home"></ion-icon> Dashboard</a
          >
        </li>
        <li>
          <a hx-target="#body-wrapper" hx-get="/genres">
            <ion-icon name="albums-outline"></ion-icon> Genres
          </a>
        </li>
        <li>
          <a hx-target="#body-wrapper" hx-get="/movies">
            <ion-icon name="film-outline"></ion-icon> Movies
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-nav">
      <ul>
        <li>
          <a href="/support">
            <ion-icon name="help-circle-outline"></ion-icon> Support
          </a>
        </li>
        <li>
          <a href="/setting">
            <ion-icon name="cog-outline"></ion-icon> Setting
          </a>
        </li>
      </ul>
      <div class="account">
        <a href="/account">
          <ion-icon name="person-circle-outline"></ion-icon>
          <div>
            <p class="text lg bold">Frederich Blessy</p>
            <p class="text sm dimmed">frederichblessy@gmail.com</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
